script(src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.1.min.js')
script(src='http://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js')
script(src='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.2/js/bootstrap.min.js')
script(src='http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js')
script(src='#{themeRes}/js/pi.dev.js?#{themeVersion}')
