footer#footer
	hr
	p
		| &copy; 2016 
		a(href='https://github.com/zxdong262/jadepress-theme-pi', target='_blank') jadepress-theme-pi
		|  powered by  
		a(href='http://jade-press.org', target='_blank') jade-press.org

